    
        h1{ 
			position:absolute;  
			margin-top:9%;
			margin-left:6%;
  
  
		  }  
		 
		  #encabezado *{ 
			display:inline-block;
  
  
		  }
		  #encabezado img{
			position:absolute;
			margin-top:4%;
		  }
		
		  #encabezado h2 a{ 
			position:absolute; 
			margin-top:5%; 
			margin-left:7%;
			text-decoration: none;
			color:#4AC2D2;
		  
  
		  } 
  
		  #encabezado h2 a:hover{ 
			color:#5A4FE6;
		  
  
		  }
		  #detalle{ 
			position:absolute;  
			width:30%;  
			height:50% ; 
			margin-top:14%; 
			margin-left:6%; 
  
		  } 
  
		  #detalle p{ 
  
			margin-right: 14%;
  
  
		  }
  
		  #galeria{  
			  position:absolute; 
			  margin-top:14%;
			  margin-left:47%;
			  width:40%; 
			  height:55%;  
			  background:#ECEBEB;
   
  
		  }    
  
		  #botones{ 
			margin-top:52%; 
			margin-left:50%;  
			padding-left: 6%;
		
  
  
		  } 
  
		  #botones button{ 
			position:relative;
			display:inline;
			margin-top:1%;
			background-color:#483CE3; 
			color:white;
  
		  } 
  
		  #botones button:hover{ 
			background-color:#4AC2D2;
  
		  }

		  #qrcode{
			position:absolute;
			display:none;
			width:100%; 
			height:50%; 
			margin-top:1%;
			margin-left:10%;
			margin-bottom: 100%;
			

		  }


		  .btn a{
			  text-decoration: none;
			  color:white;
		  }
  
		  
		  .position-absolute{
			  margin-bottom: 2%;
  
		  } 
  
		  .carousel-item{ 
			  margin-top:4%;
  
		  }
		