#columnas{   
	position:absolute;
	width:30% ;
	height:auto;  
	border:2px solid blue;
	


}  


#columnas p { 
	
	column-count:1; 
	column-gap: normal;


}

#mostrador{ 
	position:absolute;
	width:60%; 
	height:80%;  
	border:2px solid red;
	margin-left:33% ;

} 

#mostrador img{ 
	position:absolute;
	margin-top:2%; 
	margin-left:2%; 
	box-shadow: 5px 5px 5px gray;
}

#mostrador button{  
	position:absolute;
	margin-top:54%;


} 

#anterior{ 

	margin-left:15%;

}
#siguiente{ 

	margin-left:38%;

}

